# Ignore IdE setting
.vscode

# Ignore build output directories
build/
dist/
keys/*

# Ignore package manager directories
node_modules/

# Ignore log files
*.log/
*.logs/
logs/

# Ignore github config
*.github

# Ignore environnements
.env

# Ignore developper file debug
_Bugs